/*--- fonts ---*/



@font-face {
    font-family: iran-sans;
    src: url("/wwwroot/fonts/IRANSansWeb.ttf") format("truetype"),
    url("/wwwroot/fonts/IRANSansWeb.eot") format("eot"),
    url("/wwwroot/fonts/IRANSansWeb.woff") format("woff"),
    url("/wwwroot/fonts/IRANSansWeb.woff2") format("woff2");
}

@font-face {
    font-family: iran-sans-bold;
    src: url("/wwwroot/fonts/IRANSansWeb_Bold.ttf") format("truetype"),
    url("/wwwroot/fonts/IRANSansWeb_Bold.eot") format("eot"),
    url("/wwwroot/fonts/IRANSansWeb_Bold.woff") format("woff"),
    url("/wwwroot/fonts/IRANSansWeb_Bold.woff2") format("woff2");
}

@font-face {
    font-family: tahoma;
    src: url("/wwwroot/fonts/Tahoma.ttf") format("truetype"),
    url("/wwwroot/fonts/Tahoma.otf") format("otf"),
    url("/wwwroot/fonts/Tahoma.eot") format("eot"),
    url("/wwwroot/fonts/Tahoma.woff") format("woff"),
    url("/wwwroot/fonts/Tahoma.woff2") format("woff2");
}

/*#####-heder-####*/

body{
    background-color: rgb(19, 55, 58);
}


header{
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-category{

    display: flex;
    flex-direction: column;
    width: 100% ;
}

.header-top {
    box-shadow: rgba(19, 55, 58, 0.692) -5px 7px 18px 3px;
    padding-top: 10px;
    width: -webkit-fill-available;
    z-index: 99;
    position: fixed;
    background: rgb(19, 55, 58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-social-panel  {

    width: 0;
    position: fixed;
    z-index: 1;
    height: 320px;
    top: 0;
    right: 0;
    background-color: rgb(19, 55, 58);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0px 0px 0px 26px;
  }
  
  
  .social-close-btn {
    position: absolute;
    top: 0px;
    color: skyblue;
    right: 13px;
    font-size: 45px;
}
  
  .open-social-side-panel {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
  }

  .open-social-side-panel i{
      color: #26abb4;
  }

  .open-social-side-panel i:hover{
    color: #02ecfd;
}



.open-site-map i{
    color: #26abb4;
}

.open-site-map i:hover{
    color: #26abb4;
}

.open-site-map{
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}

.close-site-map {
    position: absolute;
    top: 0px;
    right: 13px;
    font-size: 45px;
    color: skyblue;
}

.side-menu-item {
    margin: 40px 10px 0px;
    height: fit-content;
    width: 100%;
}

.side-social-link{
    padding: 8px 8px 8px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-map-item {
    background: #239fa505;
    border-left: 2px solid turquoise;
    padding: 10px;
    margin: 4px 10px 0px 10px;
}

.side-map-item-active{
    color: #48e1f8;
}


.site-map-panel {
    display: flex;
    flex-direction: column;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(19 55 58 / 93%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    height: 395px;
}

.UtileCode{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Account-SignUp {
    color: rgb(177, 252, 248);
    font-size: 12px;
    border-left: 2px solid white;
    padding-left: 4px;
    margin-left: 5px;
}

.Account-SignUp:hover{
    color:  rgb(29, 139, 139);
}

.logo-box {
    display: flex;
    color: rgb(5, 238, 255);
    align-items: center;
    padding-bottom: 3px;
}

.site-logo{
    width: 50px;
    margin-right: 8px;
}


.logo-box:hover{
    color:  rgb(5, 184, 255);
}

.site-menu{
    display: flex;
    flex-direction: row-reverse;
}

.menu-item-link:hover{
    color:  rgb(5, 255, 243);
}

.nav-social
{
    display: none;
}


.active-site-map {
    color:  rgb(0, 247, 255);
    border-radius: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(32, 175, 241);
}

.menu-item {
    padding-left: 15px;
}

.social-item{
    padding-left: 11px;
}

.social-icon{
    color: rgb(0, 247, 255);
}

.social-icon:hover{
    color: rgb(32, 112, 187);
}


.site-social{
    display: flex;
    flex-direction: row-reverse;
}

.header-center {
    display: flex;
    justify-content:  space-evenly;
    flex-direction: column;
    margin-top: 100px;
}

.statistics{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.site-banner {
    text-align: center;
}

.banner-top-text {
    color: #00eeff;
    font-size: 56px;
}

.banner-bottom-text {
    color: rgb(202, 214, 218);
    padding-top: 30px;
    font-size: 18px;
}

.banner-text {
    padding-top: 35px;
}

.statistics-box {
    display: flex;
    box-shadow: rgb(16 31 37) -5px 7px 18px 3px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: rgb(13, 40, 43);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.statistics-box:hover {
    box-shadow:rgb(16 31 37) -5px 10px 18px 6px;
    transform: translateY(-5px);
}

.statistics-space{
    width: 10px;
    height: 2px;
    background: rgb(180 51 176);
}

.statistics-top-text {
    margin-bottom: 4px;
    font-size: 10px;
    color: mediumaquamarine;
}

.statistics-bottom-text {
    font-size: 10px;
}

.header-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.example{
    text-align: center;
}

.input-search{
    height: 40px;
    width: 80%;
    border: 2px solid  rgb(43, 137, 153);
    padding-left: 65px;
    border-radius: 25px 25px 25px 25px;
    padding-right: 10px;
    background: #1c3c41;
    color: rgb(15, 201, 201);
    padding-top: 10px;
    outline: 0;
    padding-bottom: 10px;
    box-shadow: rgb(16 31 37) -2px 7px 26px -2px;
}

.input-search:hover{
    background: rgb(17, 84, 88);
    
}

.button-search{
    text-align: center;
    background: rgb(19 54 57);
    color: rgb(45 104 131);
    position: absolute;
    width: 55px;
    outline: none;
    padding: 10px;
    margin-left: 0px;
    border-radius: 25px 0px 0px 25px;
    border: 2px solid rgb(43, 137, 153);
}

.button-search:hover{
    background:   rgb(24, 171, 182);
    border: 2px solid rgb(0, 162, 255);
    color: rgb(33, 49, 53);
}

.search{
    margin-bottom: 100px;
}

.statistics-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statistics-top{

    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(15, 32, 46);
    transform: translateY(70px);
}

.nav-menu{
    display: none;
}


.nav-Logo {
    margin-left: 10px;
    width: 620px;
}


/********** Main *********/

main{
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-position: top;
}

.main-top{
    margin: 40px auto;
    width: 80%;
}

.Project-order{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-box{

    background:  rgba(20, 37, 43, 0.575);
    text-align: center;
    padding: 30px 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -3px 6px 19px 1px rgb(0 0 0 / 68%);
}

.order-box:hover{
    box-shadow: -6px 13px 19px 1px rgb(0 0 0 / 68%);
    background:  rgb(21, 38, 41);
    transform: translateY(-10px);
}



.order-img{
    margin-bottom: 20px;
}

.order-title {
    color: rgb(182, 190, 235);
    margin-bottom: 20px;
}

.order-dec{
    text-align: center;
    margin-bottom: 30px;
    line-height: 23px;
    padding: 0 9px;
}



.order-Apply{

    color: rgb(35, 211, 211);
}

.order-Apply:hover{
    color:  rgb(23, 59, 65);
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(31, 89, 107);
}

.main-center{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.site-News {
    background: #194b4b;
    display: flex;
    border: 1px solid  rgb(42 108 108);
    border-radius: 5px;
    width: 80%;
    flex-direction: column;

}

.site-News:hover{
    box-shadow: rgb(16, 31, 37) 0px 10px 45px -6px;
    border: 1px solid rgb(29, 75, 77);
    border-radius: 10px;
}

.news-box{
    width: 95%;
}

.news-bottom-box{
    margin: 0px 0 35px 25px;
}

.slideshow-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.number-news {
    padding-bottom: 29px;
    color: rgb(23, 228, 235);
}

.news-title{
    padding-bottom: 20px;
    color: rgb(160, 252, 255);
}

.news-des {
    border: none;
    background: none;
    color: azure;
    text-align: left;
    line-height: 25px;
}

::-webkit-scrollbar{
    background-color: rgb(19, 55, 58);
}

::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(19, 68, 71);
}

.more-news{
    text-align: center;
    color: rgb(0, 217, 255);
    padding: 10px;
    border-radius: 5px;
}

.more-news:hover{
    color: rgb(17, 54, 59);
    border-radius: 5px;
    padding: 10px;
    background: #48e1f8;
    border-bottom: 1px solid rgb(22, 76, 83);
    border-top: 1px solid rgb(21, 87, 81);
    border-left: none;
    border-right: none;
}

.main-bottom {
    display: flex;
    justify-content: center;
}


.Articles-Category {
    margin: 147px 0 206px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.Articles-Box{
    padding: 30px 5px 30px;
    background: #1b373b  ;
    border-radius: 10px;
    text-align: center;
    width: calc(calc(80% / 4) - 2px );
    box-shadow: rgb(16, 31, 37) 0px 10px 45px -6px;
}

.Articles-Box:hover{
    border: none;
    border-radius: 15px;
    background:  rgb(3, 90, 90);
}


.Articles-Box-img {
    padding-bottom: 15px;
    width: 9vw;
}

.Articles-title {
    padding-bottom: 10px;
}

.Article-bottom{
    color: rgb(182, 190, 235);
}

.Article-bottom:hover{
    color: rgb(16, 63, 70);
}


/******* Footer ******/

footer {
    background:rgb(13, 45, 49);
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.footer-center {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.footer-social {
    margin: 10px 0;
    display: flex;
}

.footer-social-item {
    padding-right: 10px;
}

.footer-social-icon:hover{
    color: rgb(51, 121, 153);

}

.footer-category-border {
    color: rgb(0 246 255);
    width: max-content;
    margin-bottom: 16px;
    padding-bottom: 27px;
    border-bottom: 2px solid;
}

.contact-box li {
    padding-right: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.News-Email{
    display: flex;
    margin-top: 19px;
}

.footer-button-Email {
    text-align: center;
    background: #0e5555;
    color: #26b4b4;
    position: absolute;
    width: 46px;
    font-weight: bolder;
    outline: none;
    font-size: x-small;
    padding: 8.2px 0;
    margin-left: 0px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(37, 118, 124);
}

.footer-button-Email:hover{
    background:   rgb(24, 171, 182);
    color: rgb(18, 107, 110);
}

.footer-input-Email{
    height: 30px;
    width: -webkit-fill-available;
    border: 2px solid  rgb(22, 108, 129);
    padding-left: 50px;
    border-radius: 5px 5px 5px 5px;
    padding-right: 10px;
    background: #197272;
    color: rgb(14, 218, 201);
    padding-top: 10px;
    outline: 0;
    padding-bottom: 10px;
}

.contact-box {
    height: 185px;
    border-right: 1px solid rgb(0, 255, 255);
}

.About-Site p {
    line-height: normal;
    display: unset;
    padding-right: 20px;
}




.Site-Map li {
    padding-top: 8px;
}

.Site-Map li :hover{
    color: rgb(16, 179, 190);
}

.App-download {
    width: 300px;
    text-align: center;
    padding-top: 140px;
}

.download-icon {
    width: 97px;
}



.Contact-Us {
    width: 300px;
    margin: 0 15px;
}

.Site-Map{
    width: 200px;
}

.About-Site {
    width: 300px;
    margin: 0 15px;
}

.Site-dec{
    width: 300px;
}

.Site-dec p {
    line-height: normal;
    width: 247px;
    border-bottom: 1px solid white;
    padding-bottom: 22px;
}

.About-bottom-box{
    margin: 20px 0 0 0;
    display: table-caption;
}

.About-bottom-box>*{
    margin-bottom: 10px;
}
.About-bottom-box a {
    width: max-content;
    display: table-caption;
    color: #b3d7ff;
    background: #196460;
    padding: 14px 30px;
    border-radius: 10px;

}

.About-bottom-box a:hover{
    background:   rgb(24, 171, 182);
    color: rgb(33, 49, 53);
}

.footer-category {
    justify-content: space-between;
    display: flex;
    width: 80%;
}

.copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 10px 0;
}

.copy-right a{
    margin-left: 5px;
    color: rgb(27, 183, 189);
}

.copy-right a:hover{
    color: rgb(0, 247, 255);
}

.copy-right hr{
    margin: 0 10px;
    width: 40px;
    color: white;
    background: wheat;
}


/*******Login-Logout*******/
.box
{
    width: 400px;
    padding: 40px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(15, 36, 41); */
    background-color: rgb(4, 24, 26);
    text-align: center;
    border-radius: 10px;
}

.box h1
{
    padding-top: 20px;
    text-transform: uppercase;
    color:white;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #006c74;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus
{
    width: 300px;
    border-color: #b7faf7;
}

.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    /* border: 2px solid #233498db; */
    border: 2px solid #00a2ff;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.box input[type="submit"]:focus
{
    /* background-color: #233498db; */
    background-color: #093341;
}

.box input[type="submit"]:hover
{
    background-position: left bottom;
    overflow: hidden;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    outline: 0;
    color: white;
    box-shadow: 0 0 10px 0 #0088a0db inset,
                0 0 10px 4px #007e94db;
}

.fa-icon
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    /* border: 2px solid rgba(19, 114, 178, 0.801); */
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    /* background-color: #233498db; */
    background-color: rgb(49, 151, 158);
    text-decoration: none;
}


.login-social-icon {
    padding-right: 5px;
}

.box
{
    font-size: 1em;
    color: white;
}

.login-p{
    padding-bottom: 20px;
}


/*-------------------*/
/*--- media query ---*/
/*-------------------*/


@media only screen and (min-width:319px) 
{

    .statistics-top-text {

        font-size: 13px;
    }

    .statistics-box {
        width: 70px;
        height: 70px;
    }

    .banner-top-text {
        font-size: 18vw;
    }

    .banner-bottom-text {
        font-size: 22px;
    }

    .statistics-bottom-text {
        font-size: 12px;
    }

}

@media only screen and (max-width: 576px) {



    .footer-category {
        flex-flow: column;
        justify-content: center;
        display: flex;
    }

    
    .Contact-Us {
        margin: 0;
    }

    .footer-box {
        width: 100%;
    }

    .About-Site {
        margin: 35px 0 0 0;
    }

    .Site-Map li {
        padding-top: 30px;
    }

    .Site-Map {
        text-transform: uppercase;
        margin: 35px 0 0 0;
    }

    .Site-dec {
        margin: 35px 0 0 0;
    }

    .download-icon {
        width: calc(96%/3);
    }

    .App-download {
        padding-top: 35px;
        width: 100%;
    }

    .Site-dec p {
        width: 100%;
    }

    .Articles-Box {
        margin: 50px 0 0 0;
        width: auto;
    }

    .Articles-Category {
        margin: 147px 0 150px 0;
        width: 80%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .Articles-Box-img {
        width: 40%;
    }

    .footer-social-item {
        font-size: 25px;
    }

    .site-News {
        width: 90%;
    }

    .news-box {
        width: 90%;
    }

    .news-box {
        width: 90%;
    }

    .news-bottom-box {
        margin: 0px 0 31px 17px;
    }

    .Project-order {
        flex-direction: column;
    }

    .order-box {
        margin-top: 45px;
        width: fit-content;
    }

    .order-img {
        width: 40%;
    }

    .button-search {
        width: 45px;
    }

    .input-search {
        padding-left: 50px;
    }

    .banner-bottom {
        font-size: 30px;
    }

    .banner-top {
        font-size: xx-large;
        line-height: normal;
    }

    .footer-button-Email {
        padding: 11.2px 0;
    }

    .footer-input-Email {
        height: 36px;
    }

    .About-bottom-box a {
        padding: 13px 16px;
        margin-right: 20px;
        font-size: larger;
    }

    .About-bottom-box {
        display: flex;
        justify-content: start;
        margin-top: 50px;
    }

    .site-map-box {
        justify-content: space-around;
        flex-wrap: wrap;
        display: flex;
    }

    .site-map-box a {
        margin-right: 7px;
    }

    .header-img {
        width: inherit;
    }

    .site-banner {
        text-align: center;
    }

}

@media only screen and (min-width: 576px) {

    .footer-Email {
        padding-top: 30px;
    }

    .Articles-Category {
        margin: 80px 0 120px 0;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }

    .footer-category {
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        width: 90%;
    }

    .Site-Map li {
        padding-top: 31.5px;
    }

    .App-download {
        padding-top: 60px;
        width: 103%;
    }

    .download-icon {
        width: calc(96%/3);
    }

    .Site-Map {
        margin-top: 35px;
    }

    .Site-dec {
        width: 230px;
        margin-top: 35px;
    }

    .site-map-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        width: 200px;
    }

    .site-map-box a {
        margin-right: 10px;
    }

    .About-bottom-box {
        margin: 60px 0 0 0;
    }

    .site-News {
        width: 90%;
    }

    .Articles-Box {
        margin-top: 50px;
        width: calc(80% / 2);
    }

    .Articles-Box-img {
        width: 50%;
    }

    .Contact-Us {
        margin: 0 15px;
    }

    .About-Site {
        margin: 0 15px;
    }

    .Site-dec p {
        width: 230px;
    }

    .footer-box {
        width: 44%;
    }

    .About-site-box {
        height: 108px;
    }

    .main-top {
        margin: 40px auto;
        width: 80%;
    }

    .order-img {
        width: 35%;
    }

    .Project-order {
        flex-direction: column;
    }

    .order-box {
        margin-top: 100px;
        width: initial;
    }

    .statistics-box {
        width: 90px;
        height: 90px;
    }

    .statistics-top-text {
        font-size: 15px;
    }

    .statistics-bottom-text {
        font-size: 14px;
    }

    .banner-bottom-text {
        font-size: 30px;
    }

    .banner-top-text {
        font-size: 15vw;
    }

}

@media only screen and (max-width: 600px){
    .box{
        width: 90%;
        margin: 20px auto;
        padding: 5px;
    }

    .box input[type="text"]:focus,
    .box input[type="password"]:focus,
    .box input[type="email"]:focus
    {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {


    .footer-Email {
        padding-top: 28px;
    }


    .footer-box {
        width: 40%;
    }


    .App-download {
        padding-top: 60px;
        width: 103%;
    }


    .Articles-Box-img {
        width: 60%;
    }

    .Articles-Box {
        width: calc(80% / 4);
    }

    .Articles-Category {
        margin: 110px 0 80px 0;
    }

    .About-site-box {
        height: 108px;
    }

    .site-News {
        width: 85%;
    }

    .main-top {
        width: 85%;
    }

    .order-img {
        width: 50%;
    }

    .Project-order {
        flex-direction: row;
    }

    .order-box {
        margin-top: 45px;
        width: 30%;
    }

    .header-center {
        flex-direction: row-reverse;
    }

    .site-banner {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
    }

    .banner-top-text {
        font-size: 45px;
    }

    .statistics-box {
        width: 70px;
        height: 70px;
    }

    .statistics-top-text {
        font-size: 14px;
    }

    .banner-bottom-text {
        font-size: 24px;
    }

    .statistics {
        justify-content: left;
    }

    .header-img-box {
        width: 400px;
    }

    .nav-social {
        display: none;
    }

    .menu-item {
        font-size: small;
    }

    .nav-box-menu {
        padding: auto;
    }

    .header-top {
        justify-content: space-around;
    }

    .site-map-menu{
        display: none;
    }

    .nav-menu{
        display: unset;
    }

    .nav-Logo {
        margin-left: 0;
        width: auto;
    }

    .banner-text {
        padding-top: 93px;
    }

    .header-category{
        width: 95% ;
    }

}

@media only screen and (min-width: 992px) {

    .Site-Map li {
        padding-top: 11px;
    }

    .footer-box {
        width: 220px;
    }

    .Site-Map {
        width: 120px;
        margin: 0;
    }

    .Site-dec {
        margin-top: 0px;
    }

    .App-download {
        padding-top: 140px;
        text-align: left;
        width: 100%;
    }

    .Site-dec p {
        width: 200px;
    }

    .About-bottom-box {
        margin: 0;
        display: table-caption;
    }

    .download-icon {
        width: calc(87%/3);
    }

    .site-map-box {
        display: block;
    }

    .Articles-Category {
        width: 90%;
        margin: 140px 0px 120px;
    }

    .footer-category {
        width: 95%;
    }

    .Contact-Us {
        width: 230px;
    }

    .About-Site {
        width: 210px;
    }

    .About-site-box {
        height: 165px;
    }

    .statistics-box {
        width: 85px;
        height: 85px;
    }

    .banner-top-text {
        font-size: 55px;
    }

    .banner-bottom-text {
        font-size: 30px;
    }

    .statistics-top-text {
        margin-bottom: 9px;
        font-size: 16px;
    }
    
    .statistics-bottom-text {
        font-size: 16px;
    }

    .header-img-box {
        width: 470px;
    }

    .menu-item {
        font-size: unset;
    }

    .banner-text {
        padding-top: 110px;
    }
}

@media only screen and (min-width: 1200px) {



    .footer-box {
        width: 250px;
    }


    .footer-category {
        width: 90%;
    }


    .App-download {
    padding-top: 137px;
    }

    .Site-Map li {
        padding-top: 11px;
    }

    .Site-Map {
        width: 120px;
        margin: 0;
    }

    
    .Articles-Category {
        width: 85%;
    }

    .order-img {
        width: 40%;
    }

    .site-banner {
        padding-top: 90px;
    }

    .banner-bottom-text {
        font-size: 30px;
    }

    .header-center-box{
        width: auto;
    }

    .banner-text {
        padding-top: 25px;
    }

    .header-center {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .header-img-box {
        width: 500px;
    }

    .nav-social {
        display: unset;
    }

    .social-panel-menu{
        display: none;
    }
}
